<!DOCTYPE html>
<html>
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h5 style="color: #621416;">THÔNG TIN LIÊN HỆ</h5>
                <ul class="list-unstyled">
                    <li><strong>Công Ty TNHH Hùng Phát</strong></li>
                    <li>Zalo: 090 322 1238</li>
                    <li>Email: <a href="hungphat.2003@yahoo.com.vn" target="_blank">hungphat.2003@yahoo.com.vn</a></li>
                    <li>Website: <a href="https://congtyhungphat.vn/" target="_blank">https://congtyhungphat.vn/</a></li>
                    <li><strong>Văn Phòng Hà Nội</strong></li>
                    <li>Số 32 ngách 2/109 Trung Liệt, Đống Đa, Hà Nội.</li>
                    <li>Hotline: 090 322 1238</li>
                    <!-- <li>Email: <a href="mailto:hanoi@hungphat.vn" target="_blank">hanoi@hungphat.vn</a></li> -->
                </ul>
            </div>
            <div class="col-md-5">
                <h5 style="color: #621416;">DANH MỤC DỊCH VỤ</h5>
                <ul class="list-unstyled">
                    <li>- Cung cấp lắp đặt hệ thống điều hòa thông gió</li>
                    <li>- Cung cấp lắp đặt hệ thống cơ điện công trình (Điều hòa, PCCC, Điện, điện nhẹ,...)</li>
                    <li>- Bảo trì bảo dưỡng hệ thống cơ điện công trình (Điều hòa, PCCC, Điện, điện nhẹ,...)</li>
                </ul>
            </div>
            

        </div>
        <!-- <div class="row mt-4">
            <div class="col-12 text-center email-subscription">
                <form>
                    <input type="email" placeholder="Email của bạn..." aria-label="Email của bạn">
                    <button type="submit" class="btn btn-primary">Gửi</button>
                </form>
            </div>
        </div> -->
    </div>
</footer>
</html>