<!DOCTYPE html>

<html>
    <section class="myHeader">
        <nav class="navbar navbar-expand-lg indigo-600">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="picture\logo.png" alt="Logo" style="height: 60px;"> <!-- Thay thế đường_dẫn_đến_logo.png bằng đường dẫn thực tế của ảnh logo bạn -->
                </a>
                <!-- Add justify-content-end to the below div -->
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active me-3" aria-current="page" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active me-3" aria-current="page" href="#">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active me-3" aria-current="page" href="#">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active me-3" aria-current="page" href="#">Hồ sơ năng lực</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active me-3" aria-current="page" href="#">Dự án</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active me-3" aria-current="page" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</html>