<!DOCTYPE html>

<html>
    <section class="myHeader">
        <nav class="navbar navbar-expand-lg indigo-600">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="picture\logo.png" alt="Logo" style="height: 60px;"> <!-- Thay thế đường_dẫn_đến_logo.png bằng đường dẫn thực tế của ảnh logo bạn -->
                </a>
                <!-- Add justify-content-end to the below div -->
                <div class="collapse navbar-collapse justify-content-end"  id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a style="color: #621416;font-weight: bold;" class="nav-link active me-3" aria-current="page" href="index.html">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #621416;font-weight: bold;" class="nav-link active me-3" aria-current="page" href="introduce.html">Giới thiệu</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a style="color: #621416;font-weight: bold;" class="nav-link dropdown-toggle active me-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dịch vụ
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="thietKe.html">Thiết kế</a></li>
                                <li><a class="dropdown-item" href="thiCong.html">Thi công</a></li>
                                <li><a class="dropdown-item" href="baoHanh.html">Bảo hành</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a style="color: #621416;font-weight: bold;"  class="nav-link active me-3" aria-current="page" href="product.html">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a style="color: #621416;font-weight: bold;"  class="nav-link active me-3" aria-current="page" href="file/Hồ sơ năng lực.pdf">Hồ sơ năng lực</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a style="color: #621416;font-weight: bold;"  class="nav-link active me-3" aria-current="page" href="project.html">Dự án</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </section>
</html>